/*
 Theme Name:   Parkour-Festivaali (Twenty Twenty)
 Theme URI:    http://example.com/
 Description:  Twenty Twenty Child Theme (Parkour-festivaali)
 Author:       Jimi Heinonen
 Author URI:   -
 Template:     twentytwenty
 Version:      0.0.5
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, one-column, responsive-layout
 Text Domain:  twentytwenty
*/

/* FONTS BOF */
/* TODO: We might be better off using a font plugin or similar */
@font-face {
	font-family: hussar;
	src: 'assets/fonts/hussar-szturm-font/HussarSzturmAlxg.otf';
}
@font-face {
	font-family: rocketfuel;
	src: 'assets/fonts/rocketfuel-font/Rocketfuel-mD2P.otf';
}
@font-face {
	font-family: applestorm;
	src: 'assets/fonts/applestorm-font/ApplestormExtraBold-XRV2.otf';
	font-weight: bold;
}

/* FONTS EOF */


/* TEXT BASE BOF */

p {
	color: white;
}
.widget_text p {
	font-family: hussar;
}

/* TEXT BASE EOF */


/* NAVIGATION BOF */
/* TODO: Make header navigation color adjustable from theme settings */
#site-header .header-inner {
	max-height: 90px;
	background-color: #ff6600ff !important;
	width: 100%;
	max-width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 11%;
	padding-right: 12%;
}
#site-header p {
	font-family: rocketfuel;
	color: white;
	font-size: 24px;
}
#site-header a {
	/* Nav menu links */
	font-family: rocketfuel;
	color: white;
	font-size: 24px;
	text-decoration: none;
}
#site-header h2 {
	font-family: rocketfuel;
	color: white;
}
#site-header .site-title  a {
	/* Actual header title */
	font-size: 32px;
	text-decoration: none;
}

/* NAVIGATION EOF */

/* FOOTER BOF */
.footer-nav-widgets-wrapper.header-footer-group {
	background-color: #333;
	height: 170px;
	margin-top: 0;
}
.footer-nav-widgets-wrapper.header-footer-group .footer-inner.section-inner {
	height: 170px;
	flex-align: center;
	max-width: 80%;
}
.footer-nav-widgets-wrapper.header-footer-group .footer-inner.section-inner .footer-widgets-outer-wrapper {
	height: 170px;
	padding: 20px;
}
.footer-nav-widgets-wrapper.header-footer-group .footer-inner.section-inner .footer-widgets-outer-wrapper .footer-widgets-wrapper {
	height: 170px;
	padding: 0;
}
.footer-nav-widgets-wrapper.header-footer-group p {
	font-size: 14px;
}
.footer-nav-widgets-wrapper.header-footer-group a {
	font-size: 14px;
}
/* FOOTER EOF */


/* CONTENT PAGES BOF */
#site-content {
	display: flex;
	flex-direction: column;
}
/* Default fonts */
#site-content a {
	font-family: hussar;
}
#site-content p {
	font-family: hussar;
}
/* Content page titles */
#site-content header h1 {
	font-family: hussar;
	font-size: 30px;
	text-decoration: none;
}
#site-content .entry-header {
	background-color: initial;
}
#site-content .entry-header .entry-header-inner h2 {
	/* Content page titles in feed */
	font-family: hussar;
	font-size: 30px;
}
#site-content nav a {
	font-family: hussar;
	color: black;
	text-decoration: none;
}
/* Breadtext, writing etc. */
#site-content .entry-content p, cite, a, li {
	font-family: hussar;
	font-size: 18px;
	color: black;
}
/* Buttons, links, generic components */
a {
	text-decoration: none;
}
a.button {
	/* Link buttons */
	background-color: #ff6600;
	color: white;
	border: none;
	text-align: center;
	font-family: applestorm;
}
#site-content .entry-content .wp-block-button {
	font-family: hussar !important;
}
#site-content .entry-content .wp-block-group {
	max-width: 80% !important;
}
#site-content .entry-content .collapseomatic {
	font-family: hussar;
	color: #ff6600;
	background-color: white;
	border-radius: 8px;
	max-width: 16rem;
	padding: 16px;
}
#site-content .entry-content hr.wp-block-separator {
	margin-top: 2rem;
	margin-bottom: 3rem;
}
/* Article wrapping */
/* List */
#site-content article {
	display: inline-flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
}
#site-content article:nth-child(3) {
	/* Reverse direction for each third child (due to separator) */
	flex-direction: row-reverse;
}
/* Single post or article */
body.single #site-content article {
	display: initial;
}
body.single #site-content article .featured-media {
	margin-top: 6rem;
}
body.page #site-content article {
	display: initial;
}
body.page #site-content article .featured-media {
	margin-top: 6rem;
}
/* Timetable page header */
body.page.page-id-82 .entry-header h1.entry-title {
	font-family: applestorm !important;
	font-size: 48 !important;
	color: #ff6600 !important;
}
/* Timetable page background image */
body.page.page-id-82 main {
	/* TODO: This is bound to be wrong */
	background-image: url('assets/images/ohjelma_background.JPG');
	background-size: cover;
}
/* Timetable text content background */
body.page.page-id-82 main article .post-inner {
	background-color: #ccc8;
	margin: 5rem;
	border-radius: 8px;
}
/* Timetable text content */
body.page.page-id-82 main article .post-inner .entry-content p {
	color: white;
}

/* CONTENT PAGES EOF */d

