/*
 Theme Name:   Parkour-Festivaali (Twenty Twenty)
 Theme URI:    http://example.com/
 Description:  Twenty Twenty Child Theme (Parkour-festivaali)
 Author:       Jimi Heinonen
 Author URI:   -
 Template:     twentytwenty
 Version:      0.0.5
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, one-column, responsive-layout
 Text Domain:  twentytwenty
*/

/* FONTS BOF */
/* TODO: We might be better off using a font plugin or similar */
@font-face {
	font-family: hussar;
	src: 'assets/fonts/hussar-szturm-font/HussarSzturmAlxg.otf';
}
@font-face {
	font-family: rocketfuel;
	src: 'assets/fonts/rocketfuel-font/Rocketfuel-mD2P.otf';
}
@font-face {
	font-family: applestorm;
	src: 'assets/fonts/applestorm-font/ApplestormExtraBold-XRV2.otf';
	font-weight: bold;
}

/* FONTS EOF */


/* TEXT BASE BOF */

p {
	color: white;
}
.widget_text p {
	font-family: hussar;
}

/* TEXT BASE EOF */


/* GENERIC LAYOUT BOF */
/* TODO: Can we get rid of these important-rules? */
body {
	background-color: white !important;
}
body.custom-background {
	background-color: white !important;
}
article {
	background-color: white !important;
}

/* GENERIC LAYOUT EOF */

/* NAVIGATION BOF */
/* TODO: Make header navigation color adjustable from theme settings */
#site-header .header-inner {
	max-height: 90px;
	background-color: #ff6600ff !important;
	width: 100%;
	max-width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 11%;
	padding-right: 12%;
}
#site-header p {
	font-family: rocketfuel;
	color: white;
	font-size: 0.8em;
}
#site-header a {
	/* Nav menu links */
	font-family: rocketfuel;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
}
/* NOTE: DUplicated since the reason for populating this class in page content is not obvious */
#site-header li.current-menu-item a {
	color: #ff6600;
	background: white;
	padding: 10px;
	border-radius: 8px;
	min-width: 100px;
}
}
#site-header h2 {
	font-family: rocketfuel;
	color: white;
}
#site-header .site-title  a {
	/* Actual header title */
	font-size: 1.5em;
	text-decoration: none;
}
#site-header .primary-menu > li {
	margin: 1.2rem 0 0 5.5rem;
}
/* Hero Carousel tuning */
#site-header .sp-widget-post-slider-section .widget-post-slider img {
	width: 100%;
	max-height: 100%;
	background-size: contain;
}

/* NAVIGATION EOF */

/* FOOTER BOF */
.footer-nav-widgets-wrapper.header-footer-group {
	background-color: #333;
	height: 170px;
	margin-top: 0;
}
.footer-nav-widgets-wrapper.header-footer-group .footer-inner.section-inner {
	height: 170px;
	flex-align: center;
	max-width: 80%;
}
.footer-nav-widgets-wrapper.header-footer-group .footer-inner.section-inner .footer-widgets-outer-wrapper {
	height: 170px;
	padding: 20px;
}
.footer-nav-widgets-wrapper.header-footer-group .footer-inner.section-inner .footer-widgets-outer-wrapper .footer-widgets-wrapper {
	height: 170px;
	padding: 0;
}
.footer-nav-widgets-wrapper.header-footer-group p {
	font-size: 14px;
}
.footer-nav-widgets-wrapper.header-footer-group a {
	font-size: 14px;
}
/* FOOTER EOF */


/* CONTENT PAGES BOF */
#site-content {
	display: flex;
	flex-direction: column;
}
/* Default fonts */
#site-content a {
	font-family: hussar;
}
#site-content p {
	font-family: hussar;
}
/* Content page titles */
#site-content header h1 {
	font-family: hussar;
	font-size: 30px;
	text-decoration: underline;
	text-decoration-thickness: 4px;
}
#site-content .entry-header {
	background-color: initial;
}
#site-content .entry-header .entry-header-inner h2 {
	/* Content page titles in feed */
	font-family: hussar;
	font-size: 30px;
}
#site-content nav a {
	font-family: hussar;
	color: black;
	text-decoration: none;
}

/* Breadtext, writing etc. */
#site-content .entry-content p, cite, a, li {
	font-family: hussar;
	font-size: 1em;
	color: black;
}
/* Buttons, links, generic components */
a {
	text-decoration: none;
}
a.button {
	/* Link buttons */
	background-color: #ff6600;
	color: white;
	border: none;
	text-align: center;
	font-family: applestorm;
}
hr.post-separator {
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: #333a !important;
	width: 60%;
}
ul li a {
	list-style: none;
	padding: 5px;
	font-size: 24px;
	color: white;
}
ul li.current-menu-item > a {
	color: #ff6600;
	background: white;
	padding: 10px;
	border-radius: 8px;
	min-width: 100px;
}
ul li.current-page-item > a {
	color: #ff6600;
	background: white;
	padding: 10px;
	border-radius: 8px;
	min-width: 100px;
}
 /* Remove the // from the separator */
hr.post-separator:before {
	background: none;
}
hr.post-separator:after {
	background: none;
}
#site-content ul li {
	list-style: none;
	padding: 5px;
	font-size: 18px;
	color: white;
}
#site-content .entry-content .wp-block-button a {
	font-family: hussar;
	color: white;
	text-decoration: none;
}
#site-content .entry-content .wp-block-group {
	max-width: 80% !important;
}
#site-content .entry-content .collapseomatic {
	font-family: hussar;
	color: #ff6600;
	background-color: white;
	border-radius: 8px;
	max-width: 16rem;
	padding: 16px;
}
#site-content .entry-content hr.wp-block-separator {
	margin-top: 2rem;
	margin-bottom: 3rem;
}
/* Article wrapping */
/* Frontpage List */
body.home.blog #site-content article {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: end;
	width: 60%;
	margin: auto;
}
body.home.blog #site-content article:nth-child(4n-1) {
	/* Reverse article list direction */
	flex-direction: row-reverse;
}
body.home.blog #site-content article:last-child {
	margin-bottom: 100px;
}
body.home.blog #site-content article .featured-media img {
	max-width: 70%;
	margin: 0;
}
body.home.blog #site-content article .post-inner {
	padding-top: 0;
}
/* Single post or article */
/* Article posts are fine as they are (class .single) */
body.single #site-content article {
	display: initial;
}

/* Display single pages (class .page, not timetable) in 2 columns, with option for left menu */
body.page:not(.page-id-82) #site-content article {
	display: table;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	width: 100%;
}
body.page:not(.page-id-82) #site-content article .section-single-page-sidebar-menu {
	display: table-cell;
	background-color: #ff6600;
	min-height: 750px;
	color: white;
}
body.page:not(.page-id-82) #site-content article .section-single-page-sidebar-menu ul {
	margin-top: 8rem;
}
body.page:not(.page-id-82) #site-content article .post-inner {
	display: table-cell;
	padding-left: 6rem;
}
body.page:not(.page-id-82) #site-content article .featured-media {
	margin-top: 6rem;
}
body.page:not(.page-id-82) #site-content article .post-inner.thin {
	padding-top: 2rem;
}
body.page:not(.page-id-82) #site-content article .post-inner.thin .entry-header {
	padding: 2rem;
}
body.page:not(.page-id-82) #site-content article .post-inner.thin .entry-content {
	padding-bottom: 4rem;
	padding-right: 50px;
}
/* Timetable page header */
body.page.page-id-82 .entry-header h1.entry-title {
	font-family: applestorm;
	font-size: 1.2em;
	color: #ff6600;
}
/* Timetable page background image */
body.page.page-id-82 main {
	/* TODO: This is bound to be wrong */
	background-image: url('assets/images/ohjelma_background.JPG');
	background-size: cover;
}
/* Timetable text content background */
body.page.page-id-82 main article .post-inner {
	background-color: #ccc8;
	margin: 5rem;
	border-radius: 8px;
	width: 60%;
	margin: 100px auto;
}
/* Timetable text content */
body.page.page-id-82 main article .post-inner .entry-content p {
	color: white;
}

/* CONTENT PAGES EOF */d

