/*
 Theme Name:   Parkour-Festivaali (Twenty Twenty)
 Theme URI:    http://example.com/
 Description:  Twenty Twenty Child Theme (Parkour-festivaali)
 Author:       Jimi Heinonen
 Author URI:   -
 Template:     twentytwenty
 Version:      0.0.5
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, one-column, responsive-layout
 Text Domain:  twentytwenty
*/


/* FONTS BOF */
@font-face {
	font-family: hussar;
	src: url('https://www.sivistymattomat.fi/wp-content/themes/twentytwenty-child/assets/fonts/hussar-szturm-font/HussarSzturmAlxg.otf');
	/*src: 'assets/fonts/hussar-szturm-font/HussarSzturmAlxg.otf';*/  /* TODO: Check whether this format actually works */
}

/* FONTS EOF */


/* TEXT BASE BOF */
p {
	color: white;
}
span {
	color: black;
}
.widget_text p {
	font-family: hussar;
}
/* TEXT BASE EOF */


/* FOOTER BOF */
.footer-nav-widgets-wrapper.header-footer-group {
	background-color: #333;
	height: 170px;
	margin-top: 0;
}
.footer-nav-widgets-wrapper.header-footer-group .footer-inner.section-inner {
	height: 170px;
	flex-align: center;
	max-width: 80%;
}
.footer-nav-widgets-wrapper.header-footer-group .footer-inner.section-inner .footer-widgets-outer-wrapper {
	height: 170px;
	padding: 20px;
}
.footer-nav-widgets-wrapper.header-footer-group .footer-inner.section-inner .footer-widgets-outer-wrapper .footer-widgets-wrapper {
	height: 170px;
	padding: 0;
}
.footer-nav-widgets-wrapper.header-footer-group p {
	font-size: 14px;
}
.footer-nav-widgets-wrapper.header-footer-group a {
	font-size: 14px;
}
/* FOOTER EOF */

/* GENERIC LAYOUT BOF */
/* TODO: Can we get rid of these important-rules? */
body {
	background-color: white !important;
}
body.timetable {
	display: block;
}
body.timetable #site-content {
	display: block;
}
body.custom-background {
	background-color: white !important;
}
body:not(.timetable) article {
	background-color: white !important;
}
/* Fixes for single page heights */
html {
	/* Better to have site which scales properly even on non-content pages */
	min-height: 100%;
	height: 100%;
}
body.page:not(.timetable) {
	height: 100%;
	min-height: 100%;
}
body.page:not(.timetable) main {
	height: 100%;
	min-height: 100%;
}
body.page:not(.timetable) article {
	height: 100%;
	min-height: 100%;
}
/* GENERIC LAYOUT EOF */


/* NAVIGATION BOF */
#site-header .header-inner {
	max-height: 120px;
	background-color: red !important;
	width: 100%;
	max-width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 11%;
	padding-right: 12%;
}
#site-header p {
	font-family: Franklin Gothic Heavy;
	font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
	font-size: 0.8em;
}
#site-header a {
	/* Nav menu links */
	font-family: Franklin Gothic Heavy;
	font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
}
/* NOTE: DUplicated since the reason for populating this class in page content is not obvious */
#site-header li.current-menu-item a {
	color: white;
	background: black;
	padding: 10px;
	border-radius: 8px;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	min-width: 100px;
}
#site-header h2 {
	font-family: Franklin Gothic Heavy;
	font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	color: white;
}
#site-header .site-title  a {
	/* Actual header title */
	font-size: 1.5em;
	text-decoration: none;
}
#site-header .primary-menu > li {
	margin: 1.2rem 0 0 5.5rem;
}

/* NAVIGATION EOF */


/* CONTENT PAGES BOF */
#site-content {
	display: flex;
	flex-direction: column;
}
/* Default fonts */
#site-content a {
	font-family: hussar;
}
#site-content p {
	font-family: hussar;
}
/* Content page titles */
#site-content header h1 {
	font-family: hussar;
	font-size: 30px;
	text-decoration: underline;
	text-decoration-thickness: 4px;
}
#site-content .entry-header {
	background-color: initial;
}
#site-content .entry-header .entry-header-inner h2 {
	/* Content page titles in feed */
	font-family: hussar;
	font-size: 30px;
}
#site-content nav a {
	font-family: hussar
	color: black;
	text-decoration: none;
}

/* Breadtext, writing etc. */
#site-content .entry-content p, cite, a, li, td {
	font-family: hussar;
	font-size: 1em;
	color: black;
}
/* Buttons, links, generic components */
a {
	text-decoration: none;
}
.wp-block-quote p, .wp-block-quote cite {
	font-family: hussar;
	font-size: 0.8em;
	color: gray;
}
a.button {
	/* Link buttons */
	background-color: red;
	color: white;
	border: none;
	text-align: center;
	font-family: hussar
}
hr.post-separator {
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: #333a !important;
	width: 80%;
}
ul li a {
	list-style: none;
	padding: 5px;
	font-size: 24px;
	color: white;
}
ul li.current-menu-item > a {
	color: white;
	background: black;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	padding: 10px;
	border-radius: 8px;
	min-width: 100px;
}
ul li.current-page-item > a {
	color: white;
	background: black;
	padding: 10px;
	border-radius: 8px;
	min-width: 100px;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
.wp-block-table table tbody tr td {
	border-color: black;
}

 /* Remove the // from the separator */
hr.post-separator:before {
	background: none;
}
hr.post-separator:after {
	background: none;
}
#site-content ul li {
	list-style: none;
	padding: 5px;
	font-size: 18px;
	color: white;
}
#site-content .entry-content .wp-block-button a {
	font-family: hussar;
	color: white;
	text-decoration: none;
	background-color: red;
}
#site-content .entry-content .wp-block-group {
	max-width: 80% !important;
}
#site-content .entry-content .collapseomatic {
	font-family: hussar;
	color: red;
	background-color: white;
	border-radius: 8px;
	max-width: 16rem;
	padding: 16px;
}
#site-content .entry-content hr.wp-block-separator {
	margin-top: 2rem;
	margin-bottom: 3rem;
}


/* DESKTOP RULES BOF */
@media only screen and (min-width: 1080px) {
	/* Hero Carousel tuning */
	#site-header .sp-widget-post-slider-section {
		width: 50%;
		margin: 0 auto;
		overflow: visible;
	}
	#site-header .sp-widget-post-slider-section .widget-post-slider img {
		width: 100%;  /* Carousel script seems to change size dynamically */
		height: auto;
		max-height: 700px;
		max-width: 100%;
		background-size: contain;
	}
	#site-header .sp-widget-post-slider-section .slick-arrow {
		background-color: red;
		height: 200px;
		width: 100px;
	}
	#site-header .sp-widget-post-slider-section .slick-arrow i {
		font-size: 48rem;
		position: relative;
		top: 15%;
	}
	#site-header .sp-widget-post-slider-section .slick-slide .wps-caption {
		text-align: center;
	}
	#site-header .sp-widget-post-slider-section .slick-slide .wps-caption a {
		font-size: 4.8rem;
	}
	#site-header .sp-widget-post-slider-section .slick-list {
		overflow: visible;
	}
	/* Left and right carousel arrows */
	#site-header .sp-widget-post-slider-section .slick-prev.slick-arrow {
		left: -50%;
		width: 50%;
		top: 30px;
		height: 100%;
		background: rgb(255,0,0);
		background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,0.46680679107580536) 50%, rgba(0,212,255,0) 100%);
	}
	#site-header .sp-widget-post-slider-section .slick-next.slick-arrow {
		right: -50%;
		width: 50%;
		height: 100%;
		top: 30px;
		background: rgb(255,0,0);
		background: linear-gradient(270deg, rgba(255,0,0,1) 0%, rgba(255,0,0,0.46680679107580536) 50%, rgba(0,212,255,0) 100%);
	}

	/* Article wrapping */
	/* Frontpage List */
	body.home.blog #site-content article {
		display: inline-flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 80%;
		margin: auto;
	}
	body.home.blog #site-content article:nth-child(4n-1) {
		/* Reverse article list direction */
		flex-direction: row-reverse;
	}
	body.home.blog #site-content article:nth-child(4n-1) {
		/* Reverse article list direction */
		flex-direction: row-reverse;
	}
	body.home.blog #site-content article:last-child {
		margin-bottom: 100px;
	}
	body.home.blog #site-content article .featured-media img {
		max-width: 100%;
		margin: 0;
	}
	body.home.blog #site-content article .post-inner {
		padding-top: 0;
	}
	/* Single post or article */
	/* Article posts are fine as they are (class .single) */
	body.single #site-content article {
		display: initial;
	}
	body.single #site-content article .post-inner {
		padding-top: 0;
	}
	/* Fix padding with single page navigation at bottom */
	body.single #site-content article nav.pagination-single {
		margin: 0 auto;
		padding-bottom: 48px;
		padding-left: 48px;
		padding-right: 48px;
		padding-top: 0px;
	}
	
	/* Display single pages (class .page, not timetable) in 2 columns, with option for left menu */
	body.page:not(.timetable) #site-content article {
		display: table;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		width: 100%;
	}
	body.page:not(.timetable) #site-content article .section-single-page-sidebar-menu {
		display: table-cell;
		background-color: red;
		min-height: 750px;
		color: white;
		width: 30%;
	}
	body.page:not(.timetable) #site-content article .section-single-page-sidebar-menu ul {
		margin-top: 8rem;
	}
	body.page:not(.timetable) #site-content article .section-single-page-sidebar-menu ul li a{
		font-family: Franklin Gothic Heavy;
		font-weight: bold;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	}
	body.page:not(.timetable) #site-content article .section-single-page-sidebar-menu ul li.current-menu-item a {
		text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	}
	body.page:not(.timetable) #site-content article .post-inner {
		display: table-cell;
		padding-left: 6rem;
	}
	body.page:not(.timetable) #site-content article .featured-media {
		margin-top: 6rem;
	}
	body.page:not(.timetable) #site-content article .post-inner.thin {
		padding-top: 2rem;
	}
	body.page:not(.timetable) #site-content article .post-inner.thin .entry-header {
		padding: 2rem;
	}
	body.page:not(.timetable) #site-content article .post-inner.thin .entry-content {
		padding-bottom: 4rem;
		padding-right: 50px;
	}
	/* Timetable page header */
	body.page.timetable #site-content article header.entry-header h1.entry-title {
		font-family: hussar;
		font-size: 3em;
		color: red;
	}
	/* Timetable page background image */
	body.page.timetable main {
		display: block;
		background-image: url('assets/images/ohjelma_background.JPG');
		background-size: cover;
	}
	/* Timetable text content background */
	body.page.timetable main article .post-inner {
		background-color: #ccc8;
		margin: 5rem;
		border-radius: 8px;
		width: 80%;
		margin: 100px auto;
	}
	/* Timetable text content */
	body.page.timetable main article .post-inner .entry-content p {
		color: white;
	}
	/* CONTENT PAGES EOF */d
}

/* MOBILE RULES BOF */
@media only screen and (max-width: 1080px) {
	/* MOBILE GENERIC COMPONENTS BOF */
	#site-content .entry-content .collapseomatic {
		color: white;
		background-color: red;
	}
	/* MOBILE GENERIC COMPONENTS EOF */


	/* MOBILE NAV BOF */
	body.home.blog #site-content article {
		flex-direction: column;
	}
	#site-content .entry-content p {
		text-align: center;
	}
	body .menu-modal {
		background: transparent;
	}
	body .menu-modal .menu-modal-inner {
		background: transparent;
	}
	body .menu-modal .menu-modal-inner .section-inner {
		width: 100%;
	}
	body .menu-modal .menu-modal-inner .menu-top {
		background: red;
	}
	body .menu-modal li.menu-item {
		background-color: red;
	}
	body .menu-modal a {
		color: white;
		font-family: hussar;
	}
	body .menu-modal .modal-menu li.current-menu-item > .ancestor-wrapper > a {
		color: red;
		text-decoration: none;
		background-color: white;
	}
	body .menu-modal a:hover {
		text-decoration: none;
	}
	body .menu-modal button.close-nav-toggle svg {
		color: white;
		height: 4rem;
		width: 4rem;
		margin-right: 3rem;
	}
	#site-header .header-inner button.toggle {
		max-height: 120px;
		padding: 0;
	}
	#site-header .header-inner button.toggle span.toggle-icon {
		height: 4rem;
		width: 4rem;
	}
	#site-header .header-inner button.toggle span.toggle-icon svg {
		height: 4rem;
		width: 4rem;
		color: white;
	}
	#site-header .header-inner button.toggle span.toggle-icon svg polygon {
		height: 4rem;
		width: 4rem;
		fill: white;
	}
	/* MOBILE NAV EOF */
	/* Hero Carousel tuning */
	#site-header .sp-widget-post-slider-section .slick-arrow {
		background-color: red;
		height: 200px;
		width: 20px;
	}
	#site-header .sp-widget-post-slider-section .slick-arrow i {
		font-size: 24rem;
		position: relative;
		top: 25%
	}
	#site-header .sp-widget-post-slider-section .slick-slide .wps-caption {
		text-align: center;
	}
	#site-header .sp-widget-post-slider-section .slick-slide img {
		height: 100%;
		width: 100%
	}
	#site-header .sp-widget-post-slider-section .slick-slide .wps-caption a {
		font-size: 2.4rem;
	}
	#site-header .sp-widget-post-slider-section .slick-list {
		overflow: visible;
	}
	/* Left and right carousel arrows */
	#site-header .sp-widget-post-slider-section .slick-prev.slick-arrow {
		width: 20%;
		top: 30px;
		height: 100%;
		background: rgb(255,0,0);
		background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,0.46680679107580536) 50%, rgba(0,212,255,0) 100%);
	}
	#site-header .sp-widget-post-slider-section .slick-next.slick-arrow {
		width: 20%;
		height: 100%;
		top: 30px;
		background: rgb(255,0,0);
		background: linear-gradient(270deg, rgba(255,0,0,1) 0%, rgba(255,0,0,0.46680679107580536) 50%, rgba(0,212,255,0) 100%);
	}
		
	
	/* MOBILE TIMETABLE BOF */
	
	/* MOBILE TIMETABLE EOF */
	
	
	/* MOBILE SINGLE PAGE/ARTICLE BOF */
	body.single #site-content article {
		display: initial;
	}
	body.single #site-content article .post-inner {
		padding-top: 0;
	}
	/* Fix padding with single page navigation at bottom */
	body.single #site-content article nav.pagination-single {
		margin: 0 auto;
		padding-bottom: 48px;
		padding-left: 48px;
		padding-right: 48px;
		padding-top: 0px;
	}
	/* MOBILE SINGLE PAGE/ARTICLE EOF */
	
	
	/* MOBILE SIDEBAR MENU BOF */
	#site-content .section-inner.section-single-page-sidebar-menu {
		margin: 0;
		width: 100%;
	}
	#site-content .section-inner.section-single-page-sidebar-menu ul {
		margin: 0;
	}
	#site-content .section-inner.section-single-page-sidebar-menu ul > li {
		margin: 0;
		background-color: red;
	}
	#site-content .section-inner.section-single-page-sidebar-menu ul > li.current-menu-item {
		background-color: black;
	}
	#site-content .section-inner.section-single-page-sidebar-menu ul > li.current-menu-item a {
		color: white;
	}
	#site-content .section-inner.section-single-page-sidebar-menu ul > li a {
		background: none;
	}
	/* MOBILE SIDEBAR MENU EOF */
}
/* MOBILE RULES EOF */


/* TABLET RULES BOF */
@media only screen and (max-width: 1080px) {
	body.home.blog #site-content article {
		flex-direction: column;
	}
	#site-content .entry-content p {
		text-align: center;
	}
}
/* TABLET RULES EOF */
